
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookDetail</title>
</head>
<body>
    <div> 
        <h2>@Model.BookId</h2>
        <h1>@Model.Name</h1>
        <h1>@Model.Rating</h1>
    </div>
</body>
</html>
