
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Header.css")" rel="stylesheet" type="text/css" />
    <title>Cart - BookStore</title>
</head>
<body>
    @{
        Html.RenderPartial("Header");
    }
    <div>
        <h1>CART</h1>
    </div>
</body>
</html>
