
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Header.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Cart.css")" rel="stylesheet" type="text/css" />
    <title>Cart - BookStore</title>
</head>
<body>
    @{
        Html.RenderPartial("Header");
    }
    <div class="main">
        <div class="container">
            <div class="cart">
                <div>
                    <p>My Cart(1)</p>
                    <select class="form-control" id="StudentGender" name="StudentGender">
                        <option>Use Current Location</option>
                        <option>Mumbai</option>
                        <option>Surat</option>
                    </select>
                </div>
                <div>
                    <img src="https://s3.amazonaws.com/thumbnails.venngage.com/template/4c5cb3e3-ab2a-4cd9-bfdb-cfe7c879cb1a.png"/>
                    <div>
                        <p>Plastic</p>
                        <p>by Cascade</p>
                        <p><span class="discount">Rs.1776</span>  <span class="original">Rs.2899</span></p>
                    </div>
                </div>
            </div>
            <div class="address"><h2>Address</h2></div>
            <div class="summary"><h3>Summary</h3></div>
        </div>
    </div>
</body>
</html>
