
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Header.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Cart.css")" rel="stylesheet" type="text/css" />
    <title>Cart - BookStore</title>
</head>
<body>
    @{
        Html.RenderPartial("Header");
    }
    <div class="main">
        <div class="container">
            <div class="cart">
                <div>
                    <p>My Cart(1)</p>
                    <select class="form-control" id="StudentGender" name="StudentGender">
                        <option>Use Current Location</option>
                        <option>Mumbai</option>
                        <option>Surat</option>
                    </select>
                </div>
            </div>
            <div class="address"><h2>Address</h2></div>
            <div class="summary"><h3>Summary</h3></div>
        </div>
    </div>
</body>
</html>
