
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Header.css")" rel="stylesheet" type="text/css" />
    <title>Cart - BookStore</title>
</head>
<body>
    @{
        Html.RenderPartial("Header");
    }
    <div class="main">
        <div class="container">
            <div class="cart"></div>
            <div class="address"></div>
            <div class="summary"></div>
        </div>
    </div>
</body>
</html>
