
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wishlist</title>
    @Styles.Render("~/Content/Header.css")
</head>
<body>
    @{
        Html.RenderPartial("Header");
    }
    <div>
    </div>
</body>
</html>
