
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ADMIN Bookstore</title>
    <style>
        body{
            color:indigo;
            width:100%;
            height:100%;
            display:flex;
            justify-content:center;
            align-content:center;
        }
    </style>
</head>
<body>
    <div> 
        <h1>Welcome Admin</h1>
    </div>
</body>
</html>
