* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
button:hover{
    cursor:pointer;
    opacity:80%;
}
.main{
    width:100%;
    display:flex;
    justify-content:center;
}
.imagecontainer {
    background-color: #f5f5f5;
    width:350px;
    height: 450px;
    display:flex;
    align-items:center;
    justify-content:center;
   
}
.image{
    width:300px;
    height:400px;
}
.buttoncontainer{
   width:350px;
   height:80px;
   display:flex;
   align-items:center;
   justify-content:space-between;
}
button{
    width:170px;
    height:40px;
}
.btn_addtobag {
    color: white;
    background-color: #A03037;
}
.btn_wishlist {
    color:white;
    background-color: #333333;
}

.name {
    font-size: xx-large;
    font-weight: 500;
}

.author {
    font-size: small;
    color: gray;
}

.rating {
    background-color: #388E3C;
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 2px 8px;
}

.reviews {
    font-size: large;
    color: gray;
}

.discount {
    font-size:x-large;
    font-weight: 500;
}

.original {
    font-size: large;
    color: gray;
    text-decoration: line-through;
}