* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
button:hover{
    cursor:pointer;
    opacity:80%;
}
.main{
    width:100%;
    display:flex;
    justify-content:center;
    
}
.imagecontainer {
    background-color: #f5f5f5;
    width:350px;
    height: 450px;
    display:flex;
    align-items:center;
    justify-content:center;
   
}
.image{
    width:300px;
    height:400px;
}
.buttoncontainer{
   width:350px;
   height:80px;
   display:flex;
   align-items:center;
   justify-content:space-between;
}
button{
    width:170px;
    height:40px;
}
.btn_addtobag {
    color: white;
    background-color: #A03037;
}
.btn_wishlist {
    color:white;
    background-color: #333333;
}


.name {
    font-size: xx-large;
    font-weight: 500;
}

.author {
    font-size: small;
    color: gray;
}

.rating {
    background-color: #388E3C;
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 0px 8px;
}

.reviews {
    font-size: large;
    color: gray;
}

.discount {
    font-size:x-large;
    font-weight: 500;
}

.original {
    font-size: large;
    color: gray;
    text-decoration: line-through;
}

.details{
    height: 120px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

hr{
    margin:20px 0px;
    /*margin-right:30px;*/
}
.bookdetail {
    font-size: large;
    color: gray;
}
.description{
    width:600px;
}
.customerfeedback {
    font-size: x-large;
}

.feedbackform {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    margin-top:20px;
    background:#f5f5f5;
    width:600px;
    padding:20px 20px;
    margin-bottom:30px;
}
    .feedbackform > button {
        background-color: #3371B5;
        color:white;
    }
    .feedbackform > textarea{
        margin-top:20px;
        padding:0px 5px;
    }
.rightbox {
    margin-left: 30px;
    margin-right:30px;
}

@media screen and (max-width: 1051px) {
    .main{
        flex-direction:column;
        align-items:center;
    }
    .description{
    
        width:auto;
    }
   
}
@media screen and (max-width: 715px) {
  .feedbackform{
   
      width:auto;
      padding-right:30px;
  }
  textarea{
      width:100%;
  }
}