* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
main{
    width: 100%;
    background-color: aqua;
    display: flex;
}

img{
    width:200px;
    height:300px;
}