*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
    padding:0px;
}


p{
    width:max-content;
}
.bookscontainer{
    margin:0px 200px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.item {
    margin:20px 0px;
    width:205px;
    height:245px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.item > div > p{
    margin-left:10px;
}
    .item:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-color:black;
    }
.image{
    background-color:#f5f5f5;
    display:flex;
    align-items:center;
    justify-content:center;
    width:205px;
    height:158px;
}
.image > img{
    height:140px;
    width:100px;
}
.name{
    font-size:large;
    font-weight:500;
}
.author{
    font-size:small;
    color:gray;
}
.rating {
    background-color: #388E3C;
    color:white;
    font-size:small;
    font-weight:500;
    padding:2px 8px;
}
.reviews {
    font-size: small;
    color: gray;
}
.discount{
    font-weight:500;
}
.original{
    font-size:small;
    color:gray;
    text-decoration:line-through;
}

@media screen and (max-width: 1080px) {
    .bookscontainer{
        margin:0px 20px;
    }
}