<nav>
    <div class="leftcontainer">
        <img class="icon" src="https://image.flaticon.com/icons/png/128/3352/3352528.png" onclick="@("window.location.href='" + @Url.Action("Books", "Store") + "'");"/>
        <p>Bookstore</p>
        <input class="search" placeholder="search" />
    </div>
    <div class="rightcontainer">
        <div class="profile">
            <img src="https://image.flaticon.com/icons/png/128/727/727399.png" />
            <p>Profile</p>
        </div>
        <div class="cart" onclick="@("window.location.href='" + @Url.Action("Cart", "Store") + "'");">
            <img src="https://image.flaticon.com/icons/png/128/726/726496.png" />
            <p>Cart</p>
        </div>
    </div>
</nav>