
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthenticate</title>
</head>
<body>
    <div>
        <h3>Error</h3>
        <h1>You are not authenticated.</h1>
    </div>
</body>
</html>
